<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ><center>
        <div style="background-image: url('https://islam.mansouri.online/wp-content/uploads/2019/04/studies.jpg');">
            <form>
            <h1 style="color:rgb(0, 247, 255);">Subject</h3>
            <input type="text" name="subject" id="subject" placeholder="subject" required></br>
            <h1 style="color:rgb(0, 255, 0);">Description</h3>
            <textarea rows="20" cols="40" id="description" required></textarea></br></br>
            <input type="button" value="Submit">
            
        </form>
    </center>
 <h1 style="color: blueviolet;">Hi this is Debosmita!</h1>
 </div>
</body>
</html>